@import "tailwindcss";
@config "../tailwind.config.js";

/* Custom styles for Haze Shop */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  @apply transition-colors duration-300;
}

:root.dark body {
  background-color: #111827;
  /* gray-900 */
  color: #f3f4f6;
  /* gray-100 */
}